* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  background: #f8fafc;
  color: #0f172a;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
